.typography {
  color: var(--white-color);
  line-height: normal;
}

.mediumFontSize {
  font-size: 20px;
}

.smallFontSize {
  font-size: 16px;
}

.boldFontWeight {
  font-weight: 500;
}

.regularFontWeight {
  font-weight: 400;
}

.extraSmallFontSize {
  font-size: 14px;
}