.cardWrapper {
  display: flex;
  flex-direction: column;
  max-width: 330px;
  width: 100%;
  background-color: var(--card-bg);
}

.cardDescriptionWrapper {
  padding: 10px 20px 20px;
  display: flex;
  flex-direction: column;
}

.cardImage {
  object-fit: cover;
  height: 165px;
}

.title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

.cardDescriptionWrapper > h2 {
  margin-bottom: 12px;
}

.cardDescriptionItem {
  display: flex;
  align-items: center;
  column-gap: 5px;
  margin-bottom: 12px;
}

.cardDescriptionText {
  color: var(--white-color);
  font-size: 16px;
  font-weight: 400;
}

.area {
  margin: 20px 0;
  display: flex;
  align-items: center;
  column-gap: 44px;
}

.areaItem {
  display: flex;
  flex-direction: column;
}

.areaItemText {
  color: var(--white-color);
  font-size: 14px;
  font-weight: 500;
}

.areaItemDescription {
  color: var(--white-color);
  font-size: 12px;
  font-weight: 300;
}

.areaText > span {
  font-size: 12px;
  opacity: 0.5;
}

.halfOpacity {
  opacity: 0.5;
}

.prices {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.mainPrice {
  color: var(--white-color);
  font-size: 20px;
  font-weight: 500;
}

.secondPrice {
  color: var(--white-color);
  font-size: 20px;
  font-weight: 400;
}
