.cluster-wrapper {
  padding: .5rem;
  display: flex;
  gap: .5rem;
  justify-content: space-between;
  align-items: center;
  color:#fff;
  background-color: #202026;
  font-size: 1rem;
  cursor: pointer;
  width: max-content;
  border-radius: .5rem;

}

.pin-container {
  padding: .5rem;
  border-radius: .5rem;
  color:#fff;
  font-size: 1rem;
  background-color: #202026;
  width: max-content;
  height: max-content;
  cursor: pointer;
}