.title {
  color: #fff;
  font-size: 32px;
  font-weight: 400;
}

.h1 {
  text-transform: uppercase;
}

.extraLargeFontSize {
  font-size: 48px;
}

.largeFontSize {
  font-size: 40px;
}

.extraMediumFontSize {
  font-size: 36px;
}

.mediumFontSize {
  font-size: 32px;
}

.smallFontSize {
  font-size: 24px;
}

.extraSmallFontSize {
  font-size: 20px;
}

.boldFontWeight {
  font-weight: 500;
}

.regularFontWeight {
  font-weight: 400;
}

.thinFontWeight {
  font-weight: 300;
}

