:root {
  --primary-color: #2c2c2c;
  --secondary-color: #e3c496;
  --dark-color: #2c2c2c;
  --white-color: #ffffff;

  --default-transition: all 0.3s ease-in-out;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

body {
  background-color: var(--primary-color);
}

.wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: stretch;
  flex-direction: column;
}

.content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.container {
  position: relative;
  max-width: 1630px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}
