.descriptionTitle {
  padding-left: 25px;
  position: relative;
  text-transform: uppercase;
}

.descriptionTitle::before {
  content: '';
  display: block;
  position: absolute;
  width: 12px;
  height: 70px;
  bottom: 0;
  left: 0;
  background-image: url('/shape.svg');
  background-repeat: no-repeat;
  background-size: contain;
}
