.nav {
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navList {
  max-width: 1140px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, auto);
  justify-items: center;
}

@media (width <= 1024px) {
  .nav {
    padding: 1rem;
  }

  .navList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
  }
}
